* {
  font-size: 16px;
}
h1 {
  font-size: 20px;
}
legend {
  font-size: 18px;
  font-style: italic;
}
table.custom {
  width: 100%;
}
table.custom th {
  text-align: left;
  white-space: nowrap;
  font-weight: normal;
}
table.custom td {
  width: 100%;
}
table.custom td > div {
  display: flex;
}
table.custom div > input {
  flex: 1;
}
table.custom div > button {
  flex: 0;
  white-space: nowrap;
}
button:disabled {
  background: url("../icons/loading.svg") 50% 50% no-repeat;
}
button::-moz-focus-inner {
  border: 0;
}
